<div>
  <% if @idea.errors.present? %>
    <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= errors_for @idea %>
<%= form_for @idea do |f| %>
  <div>
    <%= f.label :title, 'Your idea title' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'What is your idea?' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Submit your idea" %>
  </div>

<% end %>
