<!DOCTYPE html>
<html>
  <head>

    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: add SEO meta tags -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="#"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/ca.svg" style="width:50px; padding:15px;" class="w3-hover-opacity"></a>

          <p class= "pull-bottom" style="color:white;">Idea Factory</p>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'New Idea', new_idea_path %></li>
            <li><%= link_to('All Ideas', ideas_path) %></li>
            <% if user_signed_in? %>
              <li style="color:white; padding:15px;">Hello, <%= current_user.full_name %>!</li>
              <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to('Sign In', new_session_path) %></li>
              <li><%= link_to('Sign Up', new_user_path) %></li>

            <% end %>
          </ul>
        </div>

      </div>
    </nav>
        
    <!-- <li class= "new-idea-modal pull-right" style="color:white; padding-right:15px"> -->

    <!-- </li> -->

    <div>
      <% if flash[:notice] %>
        <div class='alert alert-success'>
          <%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class='alert alert-danger'>
          <%= flash[:alert] %></div>
      <% end %>
    </div>

    <%= render 'shared/container-top' %>
    <%= render 'shared/modal' %>
      <%= yield %>
    <%= render 'shared/container-bottom' %>

  </body>
</html>
